---
import { Image } from "astro:assets";

import Layout from "@layouts/Layout.astro";

import heroImage from "@images/hero-image.png";
import dateEtLieu from "@images/date-et-lieu.png";

import Wavenet from "@images/sponsors/wavenet.png";
import Weloveat from "@images/sponsors/weloveat.png";
import SopraSteria from "@images/sponsors/sopra-steria.png";
import YouFM from "@images/sponsors/youfm.png";
import Walga from "@images/sponsors/walga.png";
import Noctua from "@images/sponsors/noctua.png";
import JustOneByte from "@images/sponsors/j1b.png";
import ORE from "@images/sponsors/ore.png";
import RomeoPizza from "@images/sponsors/romeopizza.png";

import LoL from "@images/jeux/lol.png";
import TM from "@images/jeux/tm.png";
import FC24 from "@images/jeux/fc24.png";
import SSBU from "@images/jeux/ssbu.png";
import MK8 from "@images/jeux/mk8.png";

const jeux = [
  {
    name: "League of Legends",
    image: LoL,
    url: "/lol",
  },
  {
    name: "TrackMania",
    image: TM,
    url: "/tm",
  },
  {
    name: "EA SPORTS™ FC 24",
    image: FC24,
    url: "/fc24",
  },
  {
    name: "Super Smash Bros. Ultimate",
    image: SSBU,
    url: "/ssbu",
  },
  {
    name: "MarioKart 8",
    image: MK8,
    url: "/mk8",
  },
];

const sponsors = [
  {
    name: "Wavenet",
    url: "https://wavenet.be/",
    image: Wavenet,
  },
  {
    name: "Weloveat",
    url: "https://weloveat.be/",
    image: Weloveat,
  },
  {
    name: "Sopra Steria",
    url: "https://soprasteria.com/",
    image: SopraSteria,
  },
  {
    name: "YouFM",
    url: "https://youfm.be/",
    image: YouFM,
  },
  {
    name: "Walga",
    url: "https://www.walga.be/",
    image: Walga,
  },
  {
    name: "Noctua",
    url: "https://noctua.at/fr/",
    image: Noctua,
  },
  {
    name: "Just One Byte",
    url: "https://j1b.be/",
    image: JustOneByte,
  },
  {
    name: "ORE",
    url: "https://www.facebook.com/ORE.UMONS/",
    image: ORE,
  },
  {
    name: "Romeo pizza",
    url: "https://romeopizza.be/",
    image: RomeoPizza,
  },
];
---

<Layout title="Accueil">
  <main class="container mx-auto space-y-12 px-2 pt-4">
    <section
      class="relative -z-10 h-[calc(100vh_-_15rem)] overflow-hidden rounded-3xl shadow-xl"
    >
      <Image
        class="-z-10 h-full object-cover"
        src={heroImage}
        alt="Statue des deux fondateurs de la Faculté polytechnique de Mons, Guibal et Devillez"
        quality={30}
        width={1920}
        height={1280}
        format="webp"
      />
      <div class="absolute inset-0 flex items-end pb-16">
        <h1
          class="mx-auto w-[100%-3rem] max-w-4xl px-8 pe-16 text-4xl font-semibold text-white shadow-black text-shadow-title"
        >
          Bienvenue au Game 24 !! 🎮
        </h1>
      </div>
    </section>
    <section
      class="mx-auto max-w-5xl space-y-2 rounded-2xl bg-white px-6 py-3 font-semibold"
    >
      <h2 class="text-5xl">Une date et un lieu !</h2>
      <Image
        class="mx-auto drop-shadow-sm"
        src={dateEtLieu}
        alt="Date et lieu du Game 24"
        quality={50}
        format="webp"
      />
    </section>
    <section
      class="mx-auto max-w-5xl space-y-6 rounded-2xl bg-white px-6 py-3 font-semibold"
      id="tournois"
    >
      <h2 class="text-5xl">Des tournois</h2>
      <div
        class="max-w-full overflow-hidden [-webkit-mask:linear-gradient(90deg,transparent,white_20%,white_80%,transparent)] [mask:linear-gradient(90deg,transparent,white_20%,white_80%,transparent)]"
      >
        <ul
          class="flex w-max animate-infinite-scroll-left gap-4 hover:[animation-play-state:paused]"
        >
          {
            [...jeux, ...jeux].map((jeu) => (
              <a
                href={jeu.url}
                class="text-nowrap rounded-2xl border-4 border-blue-600 px-6 py-4"
              >
                <Image
                  class="size-64 object-contain"
                  src={jeu.image}
                  alt={jeu.name}
                  quality={50}
                  format="webp"
                />
                {jeu.name}
              </a>
            ))
          }
        </ul>
      </div>
    </section>
    <section
      class="mx-auto max-w-5xl space-y-2 rounded-2xl bg-white px-6 py-3 font-semibold"
      id="sponsors"
    >
      <h2 class="text-5xl">Nos sponsors</h2>
      <div
        class="max-w-full overflow-hidden [-webkit-mask:linear-gradient(90deg,transparent,white_20%,white_80%,transparent)] [mask:linear-gradient(90deg,transparent,white_20%,white_80%,transparent)]"
      >
        <ul
          class="flex w-max animate-infinite-scroll-right gap-4 hover:[animation-play-state:paused]"
        >
          {
            [...sponsors, ...sponsors].map((sponsor) => (
              <li>
                <a href={sponsor.url} target="_blank" class="rounded-2xl">
                  <Image
                    class="size-64 object-contain"
                    src={sponsor.image}
                    alt={sponsor.name}
                    quality={50}
                    format="webp"
                  />
                </a>
              </li>
            ))
          }
        </ul>
      </div>
    </section>
  </main>
</Layout>
